.bonus {
  position: absolute;
  width: 50px;
  z-index: 70;
  bottom: 40px;
  left: 800px;
  text-align: center;

  //---------------- propriétés de police ------------------------//
  p {
    font-family: "minecraftiaregular";
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
  }

  img {
    width: 40px;
  }
}

//---------------- animation diplome ifocop ------------------------//

#diplomeifocop {
  animation-name: animation_diplome;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);

  img {
    width: 94px;
  }
}

@keyframes animation_diplome {
  from {
    bottom: 150px;
  }
  to {
    bottom: 160px;
  }
}
