//MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//
// ----------------------------- DIALOGUES  ----------------------------  //
//MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//

.dialogue {
  background-color: rgba(245, 230, 211, 0.8);
  border: 5px solid $darkturquoise;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 300px;
  position: absolute;
  bottom: 270px;
  left: 50px;
  z-index: 200;

  //---------------------------------gestion des polices ------------------------///
  font-family: $font_dialogue;
  color: $darkturquoise;
  font-size: 16px;
  padding: 10px;

  p {
    margin: 0;
  }
}

#intro0 {
  bottom: 200px;
  left: 240px;
  border: 5px solid $dark_purple;
  color: $dark_purple;

  img {
    padding-bottom: 20px;
  }
}
#reflexion {
  bottom: 150px;
  left: 80px;
}

#challenge {
  width: 500px;
  bottom: 240px;
  left: 217px;
  border: 5px solid $light_purple;

  //---------------------------------gestion des polices ------------------------///
  background-color: rgba(38, 24, 39, 0.8);
  color: $light_purple;
}

#dialoguefin {
  width: 400px;
  bottom: 300px;
  left: 80px;
  border: 5px solid $light_purple;

  //---------------------------------gestion des polices ------------------------///
  background-color: rgba(38, 24, 39, 0.8);
  color: $light_purple;
}
