.panneaux {
  position: absolute;
  z-index: 70;
  bottom: 40px;

  img {
    width: 140px;
  }
}

#fin {
  bottom: 27px;
  img {
    width: 25px;
  }
}

#fin2 {
  bottom: 27px;
  img {
    width: 25px;
  }
}
