//MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//
// ----------------------------- PERSONNAGES  ----------------------------  //
//MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//
// ----------------------------- PERSO PRINCIPAL  ----------------------------  //

.perso_anne {
  position: absolute;
  height: 80px;
  width: 60px;
  overflow: hidden;

  img {
    width: 1024px;
    position: absolute;
    z-index: 90;
    left: -40px;
    top: -26px;
  }
}

// ---------------------------------- Sprites de chien ---------------------------------- //
@keyframes animation_pnj_chien {
  from {
    left: 0px;
  }
  to {
    left: -134px;
  }
}

.pnj_chien {
  position: absolute;
  height: 80px;
  width: 60px;
  overflow: hidden;
  bottom: 28px;

  img {
    position: absolute;
    z-index: 80;
    left: 0px;
    animation-name: animation_pnj_chien;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
  }
}

#chien01 {
  width: 67px;
  img {
    transform: scalex(-1);
  }
}

#chienbonus {
  img {
    width: 60px;
  }
}

// ---------------------------------- Sprites de sorcier---------------------------------- //
@keyframes animation_pnj_sorcier {
  from {
    top: 0px;
  }
  to {
    top: -576px;
  }
}

.pnj_sorcier {
  position: absolute;
  height: 80px;
  width: 60px;
  bottom: 39px;
  overflow: hidden;

  img {
    position: absolute;
    width: 380px;
    z-index: 90;
    left: -164px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    animation-name: animation_pnj_sorcier;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
  }
}
