.plateforme {
    position: absolute;
    z-index: 70;
    bottom: 0px;
    left: 0px;
    
}

#plat1 {
    bottom: 110px;
    width: 120px;
}
#plat2 {
    bottom: 200px;
    width: 400px;
}
#plat3 {
    bottom: 110px;
}
#plat4 {
    bottom: 200px;
}
