.plateforme {
  position: absolute;
  z-index: 70;

  /*   left: 0px; */
}

#plat1 {
  img {
    width: 70px;
  }
}
#plat2 {
  img {
    width: 190px;
  }
}
#plat3 {
  img {
    width: 70px;
  }
}
#plat4 {
  img {
    width: 190px;
  }
}
