// MMMMMMMMMMMMMMMMMMMMMMMMMMMM COLORS MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM //

$purple: rgb(92, 89, 128);
$dark_purple: rgb(43, 42, 53);
$pavement: rgb(42, 23, 35);

$grey: rgb(53, 56, 59);

$lightturquoise: #00555c;
$darkturquoise: #00354e;
$highlight: coral;


// MMMMMMMMMMMMMMMMMMMMMMMMMMMM FONTS MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM //
$font_titles: 'alagardmedium';
$font_dialogue: 'minecraftiaregular';