// MMMMMMMMMMMMMMMMMMMMMMMMMMMM COLORS MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM //

$purple: rgb(92, 89, 128);
$dark_purple: rgb(43, 42, 53);
$pavement: rgb(42, 23, 35);

$grey: rgb(53, 56, 59);

$lightturquoise: #00555c;
$darkturquoise: #00354e;
$highlight: coral;

$light_blue: #9dc8f5;

// MMMMMMMMMMMMMMMMMMMMMMMMMMMM FONTS MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM //
$font_titles: "alagardmedium";
$font_dialogue: "minecraftiaregular";

// MMMMMMMMMMMMMMMMMMMMMMMMMMMM WINDOW SIZES MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM //
$min_width: 825;
$min_height: 700px;

$med_width: 1100px;
