@import "sass/_variables";
@import "sass/_intro";
@import "sass/_panneaux";
@import "sass/_personnages";
@import "sass/_messages";
@import "sass/_bonus";
@import "sass/platformes";
@import "sass/_notplayable";
@import "sass/scorefinal";

@font-face {
  font-family: "m3x6medium";
  src: url("fonts/m3x6-webfont.woff2") format("woff2"),
    url("fonts/m3x6-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alagardmedium";
  src: url("fonts/alagard-webfont.woff2") format("woff2"),
    url("fonts/alagard-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "minecraftiaregular";
  src: url("fonts/minecraftia-regular-webfont.woff2") format("woff2"),
    url("fonts/minecraftia-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// ---------------------- Propriétés générales du body ----------------------  //
body {
  background-color: $purple;
  display: grid;
  grid-template-columns: auto 800px auto;
  grid-template-rows: 120px auto 520px auto 40px;
  height: calc(100vh - 10px);
  margin: 0;
  width: 100%;
  overflow: hidden;

  // ----------- Mise en forme des polices-----------  //
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;

  a {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }

  @media (max-height: $med_height) {
    grid-template-columns: auto 40px auto 800px auto 40px;
    grid-template-rows: auto 520px auto 40px;
  }

  @media (max-height: $no_footer) {
    grid-template-rows: auto 520px auto;
  }

  @media (max-width: $no_menu_width) {
    grid-template-columns: auto 800px auto;
  }
  @media (max-height: $no_footer) and (max-width: $no_menu_width) {
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 520px auto;
  }
}

// ----------------------------- Propriétés NAV  ----------------------------  //
nav {
  grid-row: 1;
  grid-column: 1 / span 3;
  text-align: center;

  h1 {
    display: inline-block;
    font-family: "alagardmedium";
    font-size: 4em;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #110c2f;

    a {
      font-style: normal;
    }

    a:hover {
      color: $highlight;
    }
  }

  ul {
    display: inline-block;
    list-style-type: none;
    padding: none;

    li {
      display: inline-block;
      width: 80px;
    }

    img {
      width: 40px;
      padding: 0 10px;
    }

    img:hover {
      width: 50px;
      transform: rotate(-10deg);
      transition: all 0.2s ease-in-out;
    }

    img:first-of-type:hover::before {
      content: "Mon CV";
      color: white;
      font-family: "alagardmedium";
    }
  }

  @media (max-height: $med_height) {
    grid-row: 2;
    grid-column: 2;
    h1 {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 0px;
    }
    li {
      display: block;
      width: 0px;
      height: 80px;
    }
  }
  @media (max-width: $med_width) {
    h1 {
      font-size: 2.4em;
    }
  }
  @media (max-height: $med_height) and (max-width: $no_menu_width) {
    display: none;
  }

  @media (max-width: $no_menu_width) {
    grid-column: 1 / span 3;
  }

  @media (max-height: $no_footer) and (max-width: $no_menu_width) {
    display: none;
  }
}

// ----------------------------- Propriétés CONTENT  ----------------------------  //
content {
  grid-row: 3;
  grid-column: 2;
  border: 5px solid rgb(43, 42, 53);
  border-radius: 5px;
  min-height: 520px;
  height: 520px;
  min-width: 800px;
  width: 800px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @media (max-width: $no_menu_width) {
    grid-column: 2;
  }
  @media (max-height: $med_height) {
    grid-row: 2;
    grid-column: 4;
  }
  @media (max-height: $med_height) and (max-width: $no_menu_width) {
    grid-row: 2;
    grid-column: 2;
  }

  @media (max-height: $no_footer) {
    grid-row: 2;
  }
  @media (max-height: $no_footer) and (max-width: $no_menu_width) {
    grid-column: 2;
  }
}

// ----------------------------- SCORE  ----------------------------  //

.score {
  font-family: "alagardmedium";
  font-size: 2em;
  color: $lightturquoise;
  z-index: 20;
  top: -30px;
  left: 0px;
  position: absolute;

  img {
    width: 36px;
  }
}

//MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//
// ----------------------------- FONDS  ----------------------------  //
//MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//
.bg {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
}

// ----------------------------- CITYSCAPE  ----------------------------  //

.bg:nth-of-type(2) {
  background-image: url("images/bg_city/far-buildings.png");
  z-index: 3; // probleme de connexion de ça dans la fenetre
}

.bg:nth-of-type(3) {
  background-image: url("images/bg_city/back-buildings.png");
  background-size: 90%;
  margin-top: -46px;

  z-index: 5;
}

.bg:nth-of-type(4) {
  background-image: url("images/bg_city/foreground_pigeon.png");
  background-size: 90%;
  margin-top: 130px;
  height: 500px;
  z-index: 7;
}

// ----------------------------- NUAGES  ----------------------------  //
//VERIFIER LE CIBLAGE

.bg_nuages {
  width: 800px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}

.bg_nuages:nth-of-type(5) {
  background-image: url("images/bg_mystery/background_0_large.png");
  z-index: 6;
}

.bg_nuages:nth-of-type(6) {
  background-image: url("images/bg_mystery/background_1_large.png");
  top: 55px;
  z-index: 100;
}

// ----------------------------- FORET  ----------------------------  //

.bg_forest {
  width: 800px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}
.bg_forest:nth-of-type(2) {
  background-image: url("images/bg_forest/background_0.png");
  z-index: 3;
}

.bg_forest:nth-of-type(3) {
  background-image: url("images/bg_forest/background_1_complexe.png");
  margin-top: -20px;
  z-index: 5;
}

.bg_forest:nth-of-type(4) {
  background-image: url("images/bg_forest/background_2.png");
  background-position-y: -160px;
  z-index: 7;
}

.masque {
  width: 800px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 119;
}

// ----------------------------- Propriétés FOOTER  ----------------------------  //
footer {
  grid-row: 5;
  grid-column: 1 / span 3;
  background-color: $dark_purple;
  height: 30px;
  text-align: center;
  padding: 10px 0;
  width: 100%;

  // ----------- Mise en forme des polices-----------  //
  font-size: 0.8em;
  @media (max-height: $no_footer) {
    display: none;
  }

  @media (max-width: $no_menu_width) {
    grid-column: 1 / span 3;
  }

  @media (max-height: $med_height) {
    grid-row: 4;
    grid-column: span 6;
  }
}
