.opening {
  width: 800px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 120;
  text-align: center;
  padding-top: 10px;
  font-family: "alagardmedium";
  font-size: 3em;
  background-image: url("images/bg_tiles/fond_intro.webp");
  background-size: cover;
  background-repeat: repeat;
  animation: animation_bg_intro 100s linear infinite alternate;
}
.opening strong {
  color: coral;
}
.opening img {
  width: 40px;
}
.opening button {
  background-color: #00555c;
  font-family: "alagardmedium";
  font-size: 0.5em;
  color: white;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 10px;
  border-top: 4px solid #00b3c2;
  border-left: 4px solid #00b3c2;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}
.opening button:hover {
  background-color: coral;
  border-bottom: 4px solid #ffcab6;
  border-right: 4px solid #ffcab6;
  border-top: 4px solid #e93f00;
  border-left: 4px solid #e93f00;
}
@keyframes animation_bg_intro {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -2000px 2000px;
  }
}

.panneaux {
  position: absolute;
  z-index: 70;
  bottom: 40px;
  left: -305px;
}
.panneaux img {
  width: 80px;
}

.perso_anne {
  position: absolute;
  height: 80px;
  width: 60px;
  overflow: hidden;
  bottom: 25px;
}
.perso_anne img {
  width: 1024px;
  position: absolute;
  z-index: 90;
  left: -40px;
  top: -26px;
}

@keyframes animation_pnj_chien {
  from {
    left: 0px;
  }
  to {
    left: -134px;
  }
}
.pnj_chien {
  position: absolute;
  height: 80px;
  width: 60px;
  overflow: hidden;
  bottom: 28px;
  left: -280px;
}
.pnj_chien img {
  position: absolute;
  z-index: 80;
  left: 0px;
  animation-name: animation_pnj_chien;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
}

@keyframes animation_pnj_sorcier {
  from {
    top: 0px;
  }
  to {
    top: -576px;
  }
}
.pnj_sorcier {
  position: absolute;
  height: 80px;
  width: 60px;
  overflow: hidden;
  bottom: 40px;
  right: 400px;
  display: none;
}
.pnj_sorcier img {
  position: absolute;
  width: 380px;
  z-index: 90;
  left: -164px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation-name: animation_pnj_sorcier;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6);
}

.dialogue {
  background-color: rgba(245, 230, 211, 0.8);
  border: 5px solid #00354e;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 300px;
  position: absolute;
  bottom: 270px;
  left: 50px;
  z-index: 200;
  font-family: "minecraftiaregular";
  color: #00354e;
  font-size: 16px;
  padding: 10px;
}
.dialogue p {
  margin: 0;
}

.bonus {
  position: absolute;
  z-index: 70;
  bottom: 40px;
  left: 800px;
}
.bonus img {
  width: 40px;
}

@font-face {
  font-family: "m3x6medium";
  src: url("fonts/m3x6-webfont.woff2") format("woff2"), url("fonts/m3x6-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alagardmedium";
  src: url("fonts/alagard-webfont.woff2") format("woff2"), url("fonts/alagard-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "minecraftiaregular";
  src: url("fonts/minecraftia-regular-webfont.woff2") format("woff2"), url("fonts/minecraftia-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #5c5980;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
body a {
  color: white;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

nav {
  height: 17%;
  text-align: center;
  width: 100%;
}
nav h1 {
  display: inline-block;
  font-family: "alagardmedium";
  font-size: 4em;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #110c2f;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  padding: none;
}
nav ul li {
  display: inline-block;
  width: 80px;
}
nav ul img {
  width: 40px;
  padding: 0 10px;
}
nav ul img:hover {
  width: 50px;
  transform: rotate(-10deg);
  transition: all 0.2s ease-in-out;
}
nav ul img:first-of-type:hover::before {
  content: "Mon CV";
  color: white;
  font-family: "alagardmedium";
}

content {
  border: 5px solid #2b2a35;
  border-radius: 5px;
  height: 520px;
  width: 800px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.score {
  font-family: "alagardmedium";
  font-size: 2em;
  color: #00555c;
  z-index: 20;
  top: -30px;
  left: 0px;
  position: absolute;
}
.score img {
  width: 36px;
}

.obstacle {
  position: absolute;
  z-index: 20;
  bottom: 33px;
  left: 40px;
  display: none;
}
.obstacle img {
  width: 40px;
}

.bg {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
}

.bg:nth-of-type(2) {
  background-image: url("images/bg_city/far-buildings.png");
  z-index: 3;
}

.bg:nth-of-type(3) {
  background-image: url("images/bg_city/back-buildings.png");
  background-size: 90%;
  margin-top: -46px;
  z-index: 5;
}

.bg:nth-of-type(4) {
  background-image: url("images/bg_city/foreground.png");
  background-size: 90%;
  margin-top: 130px;
  height: 500px;
  z-index: 7;
}

.bg_nuages {
  width: 800px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  display: none;
}

.bg_nuages:nth-of-type(5) {
  background-image: url("images/bg_mystery/background_0.png");
  z-index: 6;
}

.bg_nuages:nth-of-type(6) {
  background-image: url("images/bg_mystery/background_1.png");
  top: 55px;
  z-index: 100;
}

.bg_forest {
  width: 800px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}

.bg_forest:nth-of-type(2) {
  background-image: url("images/bg_forest/background_0.png");
  z-index: 3;
}

.bg_forest:nth-of-type(3) {
  background-image: url("images/bg_forest/background_1.png");
  margin-top: -20px;
  z-index: 5;
}

.bg_forest:nth-of-type(4) {
  background-image: url("images/bg_forest/background_2.png");
  background-position-y: -160px;
  z-index: 7;
}

.bg_sol {
  bottom: 0px;
  height: 40px;
  width: 800px;
  background-color: #2a1723;
  position: absolute;
  z-index: 6;
}

footer {
  background-color: #2b2a35;
  height: 30px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
