@import "sass/_variables";
@import "sass/_intro";
@import "sass/_panneaux";
@import "sass/_personnages";
@import "sass/_messages";
@import "sass/_bonus";
@import "sass/platformes";
@import "sass/_notplayable";

@font-face {
  font-family: "m3x6medium";
  src: url("fonts/m3x6-webfont.woff2") format("woff2"),
    url("fonts/m3x6-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alagardmedium";
  src: url("fonts/alagard-webfont.woff2") format("woff2"),
    url("fonts/alagard-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "minecraftiaregular";
  src: url("fonts/minecraftia-regular-webfont.woff2") format("woff2"),
    url("fonts/minecraftia-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// ---------------------- Propriétés générales du body ----------------------  //
body {
  background-color: $purple;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("images/bg_mystery/background_1.png");
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;

  // ----------- Mise en forme des polices-----------  //
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;

  a {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }
}

// ----------------------------- Propriétés NAV  ----------------------------  //
nav {
  height: 17%;
  text-align: center;
  width: 100%;
  a {
    font-style: normal;
  }
  h1 {
    display: inline-block;
    font-family: "alagardmedium";
    font-size: 4em;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #110c2f;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    padding: none;

    li {
      display: inline-block;
      width: 80px;
    }

    img {
      width: 40px;
      padding: 0 10px;
    }

    img:hover {
      width: 50px;
      transform: rotate(-10deg);
      transition: all 0.2s ease-in-out;
    }

    img:first-of-type:hover::before {
      content: "Mon CV";
      color: white;
      font-family: "alagardmedium";
    }
  }
}

// ----------------------------- Propriétés CONTENT  ----------------------------  //
content {
  z-index: 1;
  flex: 1;
  z-index: 6;

  h2 {
    font-family: $font_titles;
    font-size: 2.2em;
    letter-spacing: 0.1em;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    li {
      list-style-type: "✦ ";
      text-transform: lowercase;
      list-style-type: none;
      letter-spacing: 0.1em;
      padding: 0px 40px;
      img {
        width: 20px;
      }
    }

    a {
      text-decoration: none;
    }
    a:hover {
      color: $highlight;
    }
  }
}

#container_animation {
  position: absolute;
  overflow: hidden;
  width: 220px;
  height: 330px;
  z-index: 10;
}

#contenu_animation {
  position: absolute;
  margin-left: 0;
  margin-top: -60px;
  z-index: 10;
  animation-name: anne-imation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
}

#description {
  position: relative;
  margin-top: 50px;
  left: 20%;
  min-width: 600px;
  width: 60%;
}

@keyframes anne-imation {
  from {
    left: 0px;
  }
  to {
    left: -893px;
  }
}

// ----------------------------- Propriétés FOOTER  ----------------------------  //
footer {
  background-color: $dark_purple;
  height: 30px;
  text-align: center;
  padding: 10px 0;
  width: 100%;

  // ----------- Mise en forme des polices-----------  //
  font-size: 0.8em;

  @media (max-height: 700px) {
    display: none;
  }
}
